body {
    background: url("https://res.cloudinary.com/dn8vprize/image/upload/v1615237582/pexels-macbook1_l51awj.jpg") no-repeat center fixed;
    background-size: cover;
}

.img {
    width: 50%;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}