body {
    background: url("https://res.cloudinary.com/dn8vprize/image/upload/v1615237901/pexels-apple1_gvdgkn.jpg") no-repeat center fixed;
    background-size: cover;
}

.img {
    width: 50%;
    height: auto;
}